*{
    box-sizing: border-box;
}


h1{
    color: aliceblue;
    background-color: #5a423a;

    text-align: center;
    margin-bottom: 5px;
}

#first{
    width: 400px;
}

.container{
    display: flex;
    background-color: #5a423a;

}

.subcontainer{
    background-color: #5a423a;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    padding: 115px 20px;
    
}

.photos{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-left: 3px;
}

#container2{
    margin-top: 5px;
    display: flex;
}

#adjust{
    margin-left: 0px;
    width: 300px;
}

.subcontainer3{
    text-align: center;
    padding: 30px 15px ;
    
}

button{
    background-color: black;
    color: aliceblue;
    padding: 15px ;
    
}

button:hover{
    background-color: #000000c2;
}




